.msg {
    color: green;
    background: lightgrey;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 10px;
    border: solid;
    border-radius: 5px; 
}

.error-msg {
    color: red;
    background: lightgrey;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 10px;
    border: solid;
    border-radius: 5px; 
}